*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}
h1{
    text-align: center;
    color: rgb(54, 198, 25);
}
.link{
    text-decoration: none;
    padding: 20px 10px;
    color: black;
}
.link:hover{
    background-color: rgb(54, 198, 25);
    color: white;
}
.active{
    text-decoration: none;
    padding: 20px 10px;
    color: white;
    background-color: rgb(54, 198, 25);
}
.heading{
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.flexbox{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav{
    width: 100%;
    background-color: white;
}
header{
    background-color: rgb(73, 73, 73);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.content{
    font-size: 25px;
}
.border{
    margin: 10px;
    padding: 10px;
    border: solid 5px rgb(54, 198, 25);
}
@media (max-width: 1300px) {
    .flexbox{
        flex-direction: column;
    }
}